:root {
  --background: #ffffff;
  --text-primary: #000;
  --text-secondary: #8e05c2;
  --accent: #8e05c2;
  --border: #333;
  --form-bg: #fff;
}

[data-theme="dark"] {
  --background: #000;
  --text-primary: #fff;
  --text-secondary: #8e05c2;
  --accent: #8e05c2;
  --border: #808080;
  --form-bg: #191919;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}
.navbar {
  background-color: var(--background);
  color: var(--text-primary);
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  z-index: 999;
  box-shadow: 0px 5px 20px 5px rgba(55, 55, 55, 0.653);
}
.navbar-logo img {
  width: auto;
  height: 15vh;
  position: absolute;
  margin-bottom: 1.2rem;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}
.navbar-logo {
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  width: 120px;
  display: flex;
  border: none;
  align-items: center;
}
.navbar-icon {
  margin-right: 0.5rem;
  border-radius: 10px;
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
}
.nav-item {
  height: 80px;
  border-bottom: 2px solid transparent;
}
.nav-item:hover {
  border-bottom: 2px solid #09bef0;
  transition: 0.8s;
}
.nav-links {
  color: var(--text-primary);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem 0.5rem;
  height: 100%;
  font-size: 1.3rem;
}
.activated {
  color: var(--text-primary);
}
.fa-bars {
  color: #fff;
}
.menu-icon {
  display: none;
}
.nav-dropdown{
  color: var(--text-primary);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 0.6rem;
  height: 100%;
  font-size: 1.3rem;
}
.dropdown{
  background:var(--background);
  color: var(--text-primary);
   border:none;
   height:40px;
   padding: 0;
   margin-bottom:25px;
  box-shadow:none;
}
.dropdown:hover{
  background: none;
  border:none;
  color: var(--text-primary);
  box-shadow:none;
}
.dropdown-menu{
  background:var(--background);
  color:white;
   border:none;
  margin-top:1rem;
  margin-left:-4rem;
}
.dropdown-item{
  background: var(--background);
  color: white;
  border: 0;
}
.dropdown-link{
  text-decoration: none!important;
  color: var(--text-primary);
}
.dropdown-item:hover{
background: none;
color: var(--text-primary);
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }
  .theme-toggle{
    display: none;
  }
  .dropdown{
    height: 10px;
    bottom: 1.5rem;
    left: 14.1rem;
    font-size: 25px;
    background: transparent !important;
    display: flex; text-align: center;
    justify-content: center;
  }
  .dropdown-menu{
    margin-top:0rem;
    margin-right:2.5rem;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: #19191a;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .nav-about{
    bottom:7rem ;
    text-align: center;
    padding: 0;
    margin-bottom: 20rem;
  }

  .nav-links:hover {
    color: #09bef0;
    transition: all 0.3s ease;
  }
  .nav-item:hover {
    border: none;
  }
  .nav-item {
    width: 100%;
    height: 70px;
    font-size: 1.5rem;
  }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 35px;
    transform: translate(25%, 50%);
  }
  .menu-icon {
    display: block;
    position: absolute;
    color: red;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 840px) {
  .dropdown{
    height: 10px;
    bottom: 1.5rem;
    left: 14.8rem;
    font-size: 30px;
    background: transparent !important;
    display: flex; text-align: center;
    justify-content: center;
  }
  .dropdown-menu{
    margin-top:0rem;
    margin-right:1rem;
  }
}

@media screen and (max-width: 540px) {
  .dropdown{
    height: 10px;
    bottom: 1.5rem;
    left: 7.8rem;
    font-size: 30px;
    background: transparent !important;
    display: flex; text-align: center;
    justify-content: center;
  }
  .dropdown-menu{
    margin-top:0rem;
    margin-right:1rem;
  }
}
@media screen and (max-width: 350px) {
  .dropdown{
    height: 10px;
    bottom: 1.5rem;
    left: 5.8rem;
    font-size: 30px;
    background: transparent !important;
    display: flex; text-align: center;
    justify-content: center;
  }
  .dropdown-menu{
    margin-top:0rem;
    margin-right:1rem;
  }
}
@media screen and (max-width: 300px) {
  .navbar-logo img {
    width: 120px;
    height: 70px;
  }
  .dropdown{
    height: 10px;
    bottom: 1.5rem;
    left: 4.8rem;
    font-size: 30px;
    background: transparent !important;
    display: flex; text-align: center;
    justify-content: center;
  }
  
}
@media screen and (max-width: 300px) {
  .dropdown{
    height: 10px;
    bottom: 1.5rem;
    left: 2.5rem;
    font-size: 30px;
    background: transparent !important;
    display: flex; text-align: center;
    justify-content: center;
  }
}
/* navbar end*/

/* search bar */
.searchbar {
  width: 50%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
.searchbar input {
  margin: 30px 0;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, " Courier New";
}
.searchimg {
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 125px 30% 100%;
  border-radius: 10px;
}
@media screen and (max-width: 960px) {
  .searchimg {
    margin: auto;
  }
}
@media screen and (max-width: 410px) {
  .searchimg {
    width: 250px;
  }
}

/* search bar end */